<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Stop-n-Eat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>05CE6E2F81BC13D905F21512CD95CA5BD9BFBB75</string>
				<key>dateExpires</key>
				<string>9/13/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05CE6E2F81BC13D905F21512CD95CA5BD9BFBB75</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RTEDH52U6R</string>
						<key>name</key>
						<string>Gokul Narasimhan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05CE6E2F81BC13D905F21512CD95CA5BD9BFBB75</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DynamicBlurView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RTEDH52U6R</string>
						<key>name</key>
						<string>Gokul Narasimhan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05CE6E2F81BC13D905F21512CD95CA5BD9BFBB75</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>PopupDialog.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RTEDH52U6R</string>
						<key>name</key>
						<string>Gokul Narasimhan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05CE6E2F81BC13D905F21512CD95CA5BD9BFBB75</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UberCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RTEDH52U6R</string>
						<key>name</key>
						<string>Gokul Narasimhan</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>05CE6E2F81BC13D905F21512CD95CA5BD9BFBB75</string>
						<key>dateExpires</key>
						<string>9/13/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UberRides.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>RTEDH52U6R</string>
						<key>name</key>
						<string>Gokul Narasimhan</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>RTEDH52U6R.GokulNarasimhan.StopBy</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>RTEDH52U6R</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>RTEDH52U6R.GokulNarasimhan.StopBy</string>
				</array>
			</dict>
			<key>name</key>
			<string>StopBy.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>26b2ec87-1db6-47bc-8f34-61588e21d79f</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: GokulNarasimhan.*</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>RTEDH52U6R</string>
				<key>name</key>
				<string>Gokul Narasimhan</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
